@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 100%;
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
}

/* 헤더 부분 css */

header {
    height: 100px;
    /* border: black 1px solid; */
    /* border-radius: ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A7E6FF;
}

.logo-box {
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
}

/* 메인 부분 css */

main {
    /* border: black 1px solid; */
    width: 800px;
    height: 700px;
    padding: 0;
    background-color: royalblue;
}
#search_wrap {
    margin: 0 auto;  
}

/* 검색 상자 css */

#search_box {
    width: 90%;
    height: 60px;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#search_condition {
    width: 120px;
    padding-left: 10px;
    position: relative;
    background-color: #fff;
    border-right: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

#search_condition #condition_arrow {
    position: absolute;
    right: 5px;
}

#search_input  {
    display: block;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid black;
    width: 540px;
    height: 60px;
    cursor: pointer; 
    text-decoration: none;
}

#search_input input {
    width: 540px;
    height: 60px;
    border: 0;
    color: #000;
}

#search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
}

#search_icon span {
    font-size: 32px;
}


/* 검색 테이블 css */

#search_table {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}
.book_entry {
    cursor: pointer;
    display: flex;
    height: 90px;
    margin: 15px auto;
}
.book_cover {
    width: 75px;
    height: 90px;
    -webkit-user-drag: none;
}
.book_info {
    width: 525px;
    height: 100%;
    padding-left: 20px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.book_info * {
    margin: 0;
    padding: 0;
}
.book_author {
    margin-right: 10px;
}
.book_author::after {
    content: " | ";
}
.book_locate span {
    font-weight: bold;
}

.book_mola {
    width: 120px;
    height: 90px;
    background-color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 검색 페이지 css */

#search_page {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    color: #333;
}

#search_page a {
    display: flex;
    align-items: center;
}

#search_page ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#search_page li {
    list-style: none;
}

#search_page a {
    text-decoration: none;
    color: #333;
}

.disbled_page * {
    cursor: default;
}

#search_page li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 25px;
    list-style: none;
    border: 1px solid #333;
    margin: 0 10px;
    padding: 5px;
}

#search_page li #current_page {
    background-color: red;
    color: white;
}
.page_sign {
    color: #333;
    width: 30px;
}

/* 푸터 부분 css */

footer {
    height: 50px;
    /* border: black 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    /* border: black 1px solid; */
    flex: 1;
    text-align: center;
    line-height: 50px;
}

footer div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Google icon */
.home-btn {
    height: 50px;
}