body {
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
    height: 100%;
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
}

/* 헤더 부분 css */

header {
    height: 100px;
    /* border: black 1px solid; */
    /* border-radius: ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A7E6FF;
}

.logo-box {
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
}

/* 메인 부분 css */

main {
    /* border: black 1px solid; */
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;


}

main>div {
    width: 200px;
    height: 200px;
    border: black 1px solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div a {
    text-decoration-line: none;
    color: black;
    text-align: center;
}

.menu-img {
    width: 100px;
    height: 100px;
}

/* 푸터 부분 css */

footer {
    height: 50px;
    /* border: black 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    /* border: black 1px solid; */
    flex: 1;
    text-align: center;
    line-height: 50px;
}

footer div a {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Google icon */
.home-btn {
    height: 50px;
}

/* font style */
.ff-noto-sans {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


/* logo ani */
  /* h1 {
    height: 100px;
  }
  
  h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 80px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  } */