.return-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.print-btn {
    width: 200px;
}
